.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.oai-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.main-container {
    flex: 1 0 auto;
    min-height: 0;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: [left-start center-start right-start] 1fr [left-end center-end right-end];
    grid-template-columns: [left-start center-start] 1fr [left-end right-start] 1fr [center-end right-end];
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 160px;
    column-gap: 160px;
    padding: 40px;
    width: 100%;
}

.oai-footer {
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6e6e80;
    padding: 12px 0 24px;
    flex: 0 0 auto;
}

.oai-header img {
    display: flex;
    background-color: #fff;
    padding: 64px 0 0;
    fill: #232323;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    white-space: normal;
    border-radius: 5px;
    position: relative;
    grid-area: center;
    box-shadow: none;
    vertical-align: baseline;
    box-sizing: content-box;
}

.other-page {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 14px;
    width: 320px;
}

.other-page-link {
    padding: 4px;
}

.footer-text {
    color: rgb(158, 158, 158);
}