.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
}

.card-container {
    width: 800px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
}

.card-content {
    padding: 20px;
}

.card-layout {
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin: 0 auto;
}

.card-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-name-card {
    margin: 0;
    font-size: 34px;
    font-weight: bold;
}

.edit-options {
    margin-left: auto;
    margin-right: 20px;
}

.edit-button-cardpage {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card-body {
    display: flex;
}

.left-column, .right-column {
    flex: 1;

}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-column h3, 
.right-column h3 {
    margin: 5px 0;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.occupation-h3,
.socials-h3 {
    margin: 0;
}

.socials-h3 {
    position: absolute;
    bottom: 25vh;
}

.email-h3 {
    margin-top: 0;
}

.phoneNum-h3 {
    margin: 0;
    position: absolute;
    bottom: 25vh;
}

.quote-h3 {
    margin-bottom: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.middle-column {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}