.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
}

.card-container {
    width: 800px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
}

.card-content {
    padding: 20px;
}

.card-layout {
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin: 0 auto;
}

.card-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-name-card {
    margin: 0;
    font-size: 34px;
    font-weight: bold;
}

.edit-options {
    margin-left: auto;
}

.edit-button-cardpage {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card-body {
    display: flex;
}

.left-column, .right-column {
    flex: 1;

}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.left-column h3, .right-column h3 {
    margin: 5px 0;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}