.BizToken-form {
    position: relative;
    top: 40px;
    /* left: 1000px; */
    margin-left: 900px;
    /* background: rgba(255, 183, 197, 0.5); */
    width: 100%;
    max-width: 600px;
    padding: 0.5px 0px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
    background-color: white;
}
@media (max-width: 1000px) {
    .BizToken-form{
        max-width: 100%;
        /* margin-left: 500px; */
    }
}
.BizToken-header2 {
    position: relative;
    /* left: 400px; */
    text-align: left;
    padding-left: 25px;
    /* color:crimson; */
}

.BizToken-input {
    width: 550px;
    height: 30px;
    margin: 7px 10px;
    padding: 18px 15px;
    /* color:crimson; */
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 7px;
    border-color: lightgrey;
    align-items: left;
}

.BizToken-input:focus {
    border-color: #555;
}


.BizToken-Submit{
    margin: 20px 0px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(0,128,0,0.4);
}

::placeholder{
    color: black;
    opacity: 0.8;
}

.box {
    /* width: 515px; */
    /* height: 0px; */
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 16px;
    
    /* border: 3px solid lightgrey; */
    display: grid;
    place-items: left;
    text-align: left;
    padding: 0px 15px 0px;
    /* margin: 0px 5px 0px; */
}

.B-card {
    position: absolute;
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    margin-left: 200px;
    top: 300px;
    left: 150px;
    /* display: grid;
    place-items: center; */
    background-image: url('../../assets/cardbg2.jpg');
    /* background-size: cover; */
    background-position: center;
    background-repeat: repeat;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

    /* text-shadow: -1px; */
}

.B-card {
    text-align: center;
    margin: 0px 0px;
    font-size: 18px;
    text-shadow: 0px 0px ;
}
.card-text{
    position: relative;         /* add some text shadow and maybe weight? maybe change font? */
    margin-top: 40px;
    margin-right: 330px;
    font-size: 20px;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
    background: #000000;
    color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;

}
#ex-social{
    position: relative;
    top: 70px;
    right: 170px;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
    background: #000000;
    color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
}
#ex-num{
    position: relative;
    bottom: 100px;
    left: 170px;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
    background: #000000;
    color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
}

#ex-email{
    position:relative;
    bottom: 210px;
    left: 150px;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
    background: #000000;
    color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
}

#tagline{
    position: relative;
    bottom: 125px;
    left: 195px;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
    background: #000000;
    color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
}
