.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.navbar-container {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-user {
    display: flex; /* Display flex to align items horizontally */
    align-items: center; /* Align items vertically */
    margin-right: 10px;
    cursor: pointer;
}

.navbar-logo {
    width: 70px;
    height: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 113%;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: none;
    width: 120px;
    justify-content: center;
    align-items: center;
    /* transform: translateX(12%); */
}

.dropdown-item {
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}

.dropdown-item:hover {
    color: #929292;
}

.show {
    display: flex;
}

.user-name {
    font-size: 22px;
}

.navbar-user:hover {
    color: #929292;
}